{% extends 'shared/base.html' %}
{% load static %}
{% block site_content %}

<div class="jumbotron p-4 p-md-5 text-white rounded bg-success">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Innovative way to share knowledge</h1>
        <p class="lead my-3">Find the book you want and contact the person who share it. Those are the 10 newest
            books in the website.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
</div>
<div class="row mb-2">
    {% for book in books %}
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{ book.category }}</strong>
                <h3 class="mb-0">{{ book.title }}</h3>
                <div class="mb-1">Author: {{ book.author }}</div>
                <div class="mb-1">Cover Type: {{ book.cover_type }}</div>
                <div class="mb-1">Condition: {{ book.condition }}</div>
                <a href="{% url 'details book' book.id %}" class="stretched-link">See more details</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                {% if book.image %}

                <a href="{% url 'details book' book.id %}"><img src="{{ book.image.url }}" alt="{{ book.title }}"
                                                                width="200" height="300"></a>
                {% else %}
                <a href="{% url 'details book' book.id %}"><img src="{% static 'images/no_image.jpg' %}" alt="No image" width="200" height="300"></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    {% endblock %}